html, body {
  height: 100%;
  margin: 0;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 5vw;
    flex: 0 1 100px;
    background-color: #38bdf8;
    color: white;
    font-size: 40px;
    gap: 10px;
}

.content {
    display: flex;
    flex: 1 1 auto;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 4;
    background-color: #f0f9ff;
    padding: 20px;
}

.tabs {
    flex-grow: 1;
    background-color: lightgray;
}

.tabs > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0px -3px 3px grey;
    gap: 10px;
}

.tabs > *:hover {
    background-color: gray;
    transition: .3s;
}

.addBtn {
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-color:lightgray;
    padding: 10px 30px;
    font-size: 20px;
}
.addBtn:hover {
    background-color: gray;
    transition: .2s;
}
.footer {
    display: flex;
    flex: 0 1 50px;
    justify-content: center;
    align-items: center;
    background-color: #38bdf8;
    color: white;
}